@import "tailwindcss";


body {
    padding: 10px;
    background-color: lavender;
    border-color: purple;
  }
  
  h1 {
    font-size: 30px;
    font-family: "Bagel Fat One", sans-serif;
    font-weight: 100;
    color: indigo;
    text-align: left;
  }
  #nudge {
    border-radius: 100px;
    margin: 0 auto;
    height: 80px;
  }
  header {
    display: flex;
    align-items: center;
  }

